table {
    width: 100%;

    td{
      background-color: #202024;
      border:1px solid #29292E;
      padding: 5px 5px 5px 10px;
      color:#ffffff;
  }
  th{
    background-color: #202024;
    border-left:1px solid #29292E;
    border-right:1px solid #29292E;
    border-bottom:1px solid #29292E;
    padding: 5px 5px 5px 10px;
    color:#ffffff;
}
}